nav {
  display: flex;
  justify-content: space-between;

  padding: 20px;
}

.left {
  display: flex;
  align-items: center;
}

.explorer {
  background-color: white;
  display: grid;
  grid-template-columns: 3fr, 1fr, 1fr;
}
